<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="icon" href="/img/spy.svg" />
  <script src="/js/main.js"></script>
</head>

<body>
  <h1><%= title %></h1>
  <section>
    <h2>Demand Side Platform</h2>
    <p>DSP running Ads auction on the users browser and selects ads creative to be shown</p>
  </section>
</body>

</html>