<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Privacy Sandcastle</title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="icon" href="/img/spy.svg" />
  <script src="/js/main.js"></script>
</head>

<body>
  <h1>Privacy Sandcastle Home</h1>
  <ul>
    <% hosts.map((host) => { %>
    <li>
      <iframe title="<%= host %>" src="https://<%= host %>"></iframe>
      <a target="_blank" href="https://<%= host %>">https://<%= host %></a>
    </li>
    <% }) %>
  </ul>
</body>

</html>