body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 50vw;
  margin: 0 auto;
  color: #555;
}

h1 {
  color: rgb(67 207 139);
}

pre {
  background-color: #eee;
  padding: 1em;
  overflow: scroll;
}

iframe,
fencedframe {
  background-color: #eee;
}

@media screen and (max-width: 900px) {
  body {
    width: 90vw;
  }
}