<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width="device-width," initial-scale=1.0">
    <title>Identity Provider</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/spy.svg">
  </head>
  <body>
    <main>
      <h1>Identity Provider</h1>
      <form id="login" action="/login/password" method="post">
        <fieldset form="login">
          <legend><h2>Login</h2></legend>
          <div>
            <label for="username">Username<abbr title="required">*</abbr>:</label>
            <input type="text"
                  id="username"
                  name="username"
                  value="<%= user.name %>"
                  autocomplete="username"
                  required
                  autofocus
                  disabled>
            <input type="hidden" name="username" value="<%= user.name %>">
          </div>
          <div>
            <label for="password">Password<abbr title="required">*</abbr>:</label>
            <input type="password"
                  id="password"
                  name="password"
                  value="xxxxxxxx"
                  autocomplete="current-password"
                  required>
          </div>
          <button type="submit">Next</button>
        </fieldset>
      </form>
      <p><a href="/signup">Signup</a></p>
    </main>
  </body>
</html>
