<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity Provider</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/spy.svg">
  </head>
  <body>
    <main>
      <h1>Identity Provider</h1>
      <h3>Second Factor: <%= user.username %></h3>
      <p><a href="/">Home</a></p>
    </main>
  </body>
</html>
