<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="">
<title></title>

<meta http-equiv="origin-trial" content="">

<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<div class="creative"></div>

<script>
  async function main() {
    const advertiser = "shop"
    const id = "1f3bf"

    const href = `https://${advertiser}.example/items/${id}`
    const $a = document.createElement("a")
    $a.href = href
    $a.setAttribute("target", "_parent")

    const src = `/img/${advertiser}/emoji_u${id}.svg`
    const $img = document.createElement("img")
    $img.src = src
    $img.loading = "lazy"

    const $div = document.querySelector("div.creative")
    $a.appendChild($img)
    $div.appendChild($a)
  }
  document.addEventListener("DOMContentLoaded", main)
</script>
<!-- <script src="/js/run-ad-auction.js"></script> -->