<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="">
<title></title>

<meta http-equiv="origin-trial" content="">

<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<div class="creative"></div>

<script>
  async function main() {
    const advertiser = "shop"
    const id = "1f3bf"

    const $iframe = document.createElement("iframe")
    $iframe.src = `/ads/${advertiser}/${id}`
    $iframe.width = 300
    $iframe.height = 300
    $iframe.setAttribute("scrolling", "no")
    $iframe.setAttribute("style", "border: none")

    const $div = document.querySelector("div.creative")
    $div.appendChild($iframe)
  }
  document.addEventListener("DOMContentLoaded", main)
</script>
<!-- <script src="/js/run-ad-auction.js"></script> -->