<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="">
<title></title>

<meta http-equiv="origin-trial" content="">

<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>

<div class="creative"></div>

<script>
  // ssp
  const auctionConfig = {
    seller: "https://ssp.example", // should https & same as decisionLogicUrl's origin

    // x-allow-fledge: true
    decisionLogicUrl: "https://ssp.example/js/decision-logic.js",

    interestGroupBuyers: [
      // * is not supported yet
      "https://dsp.example"
    ],
    // public for everyone
    auctionSignals: {
      auction_signals: "auction_signals"
    },

    // only for single party
    sellerSignals: {
      seller_signals: "seller_signals"
    },

    // only for single party
    perBuyerSignals: {
      // listed on interestGroupByers
      "https://dsp.example": {
        per_buyer_signals: "per_buyer_signals"
      }
    }
  }

  document.addEventListener("DOMContentLoaded", async (e) => {
    const adAuctionResult = await navigator.runAdAuction(auctionConfig)
    console.log({
      adAuctionResult
    })

    const $fencedframe = document.createElement("fencedframe")
    console.log(`display ads in ${$fencedframe}`)
    $fencedframe.src = adAuctionResult
    $fencedframe.setAttribute("mode", "opaque-ads")
    $fencedframe.setAttribute("scrolling", "no")
    $fencedframe.setAttribute("style", "border: none")
    $fencedframe.setAttribute("allow", "attribution-reporting; run-ad-auction")
    $fencedframe.width = 300
    $fencedframe.height = 300

    // embed iframe
    const $div = document.querySelector("div.creative")
    $div.appendChild($fencedframe)
  })
</script>